.color-block{
    height:60px;
}
.margin-left-1of24{
    margin-top: 10px;
    margin-left: 12.5%
}
#main{
    /*padding: 60px 15px 0;*/
    /*background-color: rgba(239,239,239,0.96);*/
}
#footer{

}
.photo-block{
    padding: 10px;
    margin: 0 0 10px 0;
    background-color: #FFF;
    border: 1px solid #eee;
}
.photo-img{
    max-height: 280px;
    overflow: hidden;
    border-radius: 6px;
}
.photo-info,.photo-img img{
    width:100%;
}
.photo-info{
    height: 70px;
    overflow: hidden;
    border-radius: 0 0 6px 6px;
    padding: 5px;
    font-size: smaller;
}
.photo-info i{
    float: left;
    font-size: 32px;
    margin: 0 5px 0 0;
}
